<div class="bg-gray-100 min-h-screen pt-8">
  <div class="container mx-auto px-4">

    <div class="mb-10">
      <h1 class="text-4xl font-bold text-gray-800">User Dashboard</h1>
    </div>

    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">My Tracks</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% if @followed_tracks.empty? %>
        <p class="text-gray-600">You are not following any tracks yet.</p>
      <% end %>
        <% @followed_tracks.each do |track| %>
          <div class="bg-white rounded-lg shadow-lg flex">
            <div class="flex-none w-1/3">
              <%= image_tag(track.main_image, alt: track.name, class: "object-cover h-48 rounded-l-lg") if track.main_image.present? %>
            </div>
            <div class="p-4 w-2/3">
            <h3 class="font-semibold text-lg text-blue-800 mb-2">
              <%= link_to track.name, track_path(track) %>
            </h3>
            <p class="text-gray-600"><strong>Location</strong> - <%= track.location %></p>
            <p class="text-gray-600"><strong>Next Test Day </strong> - <% next_event = track.events.where(event_type: 'Test').order(start_date: :asc).find { |event| event.start_date >= Date.today } %>
            <% if next_event.present? %>
              <%= next_event.title %> on <%= next_event.start_date.strftime("%B %d, %Y") %>
            <% else %>
              No Upcoming Test Days
            <% end %></p>
            <p class="text-gray-600"><strong>Next Race </strong><% next_event = track.events.where(event_type: 'Race').order(start_date: :asc).find { |event| event.start_date >= Date.today } %>
            <% if next_event.present? %>
              <%= next_event.title %> on <%= next_event.start_date.strftime("%B %d, %Y") %>
            <% else %>
              No Upcoming Race Days
            <% end %></p>
            </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">My Championships</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% if @followed_championships.empty? %>
          <p class="text-gray-600">You are not following any championships yet.</p>
        <% end %>
        <% @followed_championships.each do |championship| %>
          <div class="bg-white rounded-lg shadow-lg flex">
            <div class="flex-none w-1/3">
            <% if championship.image.present? %>
              <%= image_tag(championship.image, alt: championship.name, class: "object-cover h-48 rounded-l-lg w-38") if championship.image.present? %>
            <% else %>
              <%= image_tag random_default_image, alt: championship.name, class: "object-cover rounded-l-lg h-48 w-38" %>
            <% end %>
            </div>
            <div class="p-4 w-2/3">
            <h3 class="font-semibold text-lg text-blue-800 mb-2">
              <%= link_to championship.name, championship_path(championship) %>
            </h3>
              <p class="text-gray-600"><strong>Next Race:</strong> <%= championship.events.first.title %>: <%= championship.events.first.start_date.strftime("%B %d, %Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Your Next Events...</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% if @followed_events.empty? %>
          <p class="text-gray-600">You have nothing planned this weeekend...</p>
        <% end %>
        <% @followed_events.each do |event| %>
          <div class="bg-white rounded-lg shadow-lg flex">
            <div class="flex-none w-1/3">
            <% if event.image.attached? %>
              <%= image_tag(event.image, alt: event.title, class: "object-cover h-full rounded-l-lg h-48 w-38") %>
            <% else %>
              <%= image_tag random_default_image, alt: event.title, class: "object-cover h-48 rounded-l-lg w-38" %>
            <% end %>
            </div>
            <div class="p-4 w-2/3">
            <h3 class="font-semibold text-lg text-blue-800 mb-2">
            <% if event.championship.present? %>
              <%= link_to event.championship.name, event_path(event) %> -
            <% end %>
              <%= link_to event.title, event_path(event) %>
            </h3>
            <p class="text-gray-600"><strong>Date:</strong> <%= event.start_date.strftime("%B %d, %Y") %></p>
            <p class="text-gray-600"><strong>Track:</strong> <%= (event.track&.name || 'No track assigned').truncate(20) %></p>
            <% if event.championship.present? %>
            <p class="text-gray-600"><strong>Championship:</strong> <%= event.championship.name %></p>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">My Engines</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
          <p class="text-gray-600">You don't have any engines stored yet.</p>
          <%= link_to "Add Engine", new_engine_path, class: "btn btn-primary text-white" %>
      </div>
  </div>


<div id="calendar-section" class="mb-6">
  <h2 class="text-2xl font-semibold text-gray-600 text-center">My Calendar</h2>
  <p class="text-gray-700 text-center text-sm">Click a date to see what's happening</p>  
  <%= turbo_frame_tag :calendar, src: calendars_path(date: Date.today) %>
</div>

</div>