  <div class="grid grid-cols-12 md:gap-6 gap-4 mt-4 px-4 container mx-auto mb-24">
    <div
      class="md:col-span-12 lg:col-span-4 col-span-4 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none p-4">
      <div class="flex items-start space-x-3">
        <div class="rounded-full w-10 h-10 flex items-center justify-center bg-indigo-50 dark:bg-indigo-600/30">
          <%= icon "flag", classes: "w-5 h-5 text-indigo-600 stroke-current dark:text-indigo-300" %>
        </div>
        <div class="flex-1">
          <span class="text-indigo-500 dark:text-indigo-400/90 text-sm font-medium">Events this Month</span>
          <div class="flex items-center space-x-2 mt-1 mb-2">
            <h3 class="h2 tracking-tight"><%= @followed_events.where(start_date: Date.today.beginning_of_month..Date.today.end_of_month).count %></h3>
          </div>
          <p class="text-sm text-slate-400">vs last month: <strong
              class="text-slate-600 dark:text-slate-400"><%= @followed_events.where(start_date: Date.today.prev_month.beginning_of_month..Date.today.prev_month.end_of_month).count %></strong></p>
          </p>
        </div>
      </div>
    </div>
    <div
      class="md:col-span-12 lg:col-span-4 col-span-4 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none p-4">
      <div class="flex items-start space-x-3">
        <div class="rounded-full w-10 h-10 flex items-center justify-center bg-yellow-50 dark:bg-yellow-75">
          <%= icon "flag", classes: "w-6 h-6 text-red-600 stroke-current dark:text-red-400/90" %>
        </div>
        <div class="flex-1">
          <span class="text-yellow-100 dark:text-yellow-100 text-sm font-medium">Last Event</span>
          <div class="flex items-center space-x-2 mt-1 mb-1">
            <% if @followed_events.where('end_date < ?', Date.today).order(end_date: :desc).first.present? %>
              <h3 class="h2 tracking-tight"><%= @followed_events.where('end_date < ?', Date.today).order(end_date: :desc).first&.track&.name %></h3>
              <p> - </p>
              <h3 class="h2 tracking-tight"><%= @followed_events.where('end_date < ?', Date.today).order(end_date: :desc).first&.track&.name %></h3>
              <p> - </p>
              <p class="h2 tracking-tight"><%= @followed_events.where('end_date < ?', Date.today).order(end_date: :desc).first&.track&.name %></p>
            <% else %>
              <h3 class="h2 tracking-tight">No Events</h3>
            <% end %>
            
          </div>
          <p class="text-sm text-slate-400">Race Result: <strong
              class="text-slate-600 dark:text-slate-400">Coming Soon</strong></p>
          </p>
        </div>
      </div>
    </div>
    <div
      class="md:col-span-12 lg:col-span-4 col-span-4 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none p-4">
      <div class="flex items-start space-x-3">
        <div class="rounded-full w-10 h-10 flex items-center justify-center bg-red-50 dark:bg-red-500/20">
          <%= icon "flag", classes: "w-6 h-6 text-red-600 stroke-current dark:text-red-400/90" %>
        </div>
        <div class="flex-1">
          <span class="text-red-400 dark:text-red-400/90 text-sm font-medium">Next Event</span>
          <div class="flex items-center space-x-2 mt-1 mb-1">
            <% if @followed_events.where(start_date: Date.today..Date.today.end_of_month).order(:start_date).first.present? %>
              <h3 class="h2 tracking-tight"><%= @followed_events.where(start_date: Date.today..Date.today.end_of_month).order(:start_date).first&.track.name %></h3>
              <p> - </p>
              <h3 class="h2 tracking-tight"><%= @followed_events.where(start_date: Date.today..Date.today.end_of_month).order(:start_date).first&.title %></h3>
              <p> - </p>
              <p class="text-green-600"><%= @followed_events.where(start_date: Date.today..Date.today.end_of_month).order(:start_date).first&.start_date&.strftime("%b %d, %Y") %></p>
            <% else %>
              <h3 class="h2 tracking-tight">No Events</h3>
            <% end %>
          </div>
          <p class="text-sm text-slate-400">Last Result Here: <strong
              class="text-slate-600 dark:text-slate-400">Coming Soon</strong></p>
          </p>
        </div>
      </div>
    </div>
    


    <div
      class="lg:col-span-6 md:cols-span-12 col-span-12 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none p-6">
      <div class="flex items-center justify-between mb-4">
        <h4 class="text-lg font-medium">Engines</h4>
        <% if respond_to?(:engines_path) %>
          <%= link_to "View all", engines_path, class: "font-medium text-sm hover:text-indigo-600 text-slate-600 dark:text-slate-400 dark:hover:text-indigo-300" %>
        <% else %>
          <%= link_to "Add Engine", new_engines_path, class: "hidden font-medium text-sm hover:text-indigo-600 text-slate-600 dark:text-slate-400 dark:hover:text-indigo-300" %>
        <% end %>
      </div>

      <div class="space-y-4 divide-y dark:divide-slate-600">
      <% @engines.each do | engine | %>
          <%= link_to engine_path(engine), class: "p-2 flex flex-wrap items-center group" do %>
            <div class="md:flex-1 md:block flex justify-between w-full">
              <div class="flex items-center space-x-3">
                <p class="font-medium hover:text-indigo-600 flex-1"><%= engine.name %></p>
              </div>
              <div class="text-left">
                <span class="bg-green-100 text-green-800 font-medium px-2 py-1 leading-tight text-xs inline-block sm:mb-0 rounded md:ml-9 dark:bg-green-500/20 dark:text-green-300/80">Engine Number - <%= engine.engine_number %></span>
              </div>
            </div>

            <div
              class="md:text-right text-left md:group-hover:-translate-x-1 md:group-hover:transition duration-200 md:group-hover:transform md:w-auto w-full md:pt-0 pt-3">
              <p class="font-medium text-slate-600 dark:text-slate-300">Current Seal: <%= engine.seal_number %></p>
              <p class="text-xs text-slate-500 dark:text-slate-400">Last Service Date: <%= engine.service_records.last.date %></p>
            </div>
            <div
              class="opacity-0 group-hover:opacity-100 transition ease-in-out group-hover:transform group-hover:translate-x-1 md:block hidden">
              <%= icon "chevron-right", classes: "w-4 h-4 stroke-current text-slate-500 group-hover:text-indigo-600 dark:group-hover:text-indigo-300" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div
      class="lg:col-span-6 md:cols-span-12 col-span-12 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none p-6">
      <div class="flex items-center justify-between mb-4">
        <h4 class="text-lg font-medium">Engine Service Records</h4>
      </div>

      <div class="space-y-4 divide-y dark:divide-slate-600">
      <% @service_records.each do | record | %>
          <%= link_to engine_service_record_path(record.engine, record), class: "p-2 flex flex-wrap items-center group" do %>
            <div class="md:flex-1 md:block flex justify-between w-full">
              <div class="flex items-center space-x-3">
                <p class="font-medium hover:text-indigo-600 flex-1"><%= record.engine.name %></p>
              </div>
              <div class="text-left">
                <span class="bg-green-100 text-green-800 font-medium px-2 py-1 leading-tight text-xs inline-block sm:mb-0 rounded md:ml-9 dark:bg-green-500/20 dark:text-green-300/80">Engine Number - <%= record.engine.engine_number %></span>
              </div>
            </div>

            <div
              class="md:text-right text-left md:group-hover:-translate-x-1 md:group-hover:transition duration-200 md:group-hover:transform md:w-auto w-full md:pt-0 pt-3">
              <p class="font-medium text-slate-600 dark:text-slate-300">Current Seal: <%= record.new_seal_number %></p>
              <p class="text-xs text-slate-500 dark:text-slate-400">Last Service Date: <%= record.date %></p>
            </div>
            <div
              class="opacity-0 group-hover:opacity-100 transition ease-in-out group-hover:transform group-hover:translate-x-1 md:block hidden">
              <%= icon "chevron-right", classes: "w-4 h-4 stroke-current text-slate-500 group-hover:text-indigo-600 dark:group-hover:text-indigo-300" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    
       <div
      class="p-6 lg:col-span-12 md:col-span-6 col-span-12 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none dark:text-slate-300">
        <div id="calendar-section" class="mb-6">
        <div class="flex items-center justify-between mb-4">
              <h4 class="font-medium text-slate-800 dark:text-slate-300 tracking-tight text-xl m-0">Calendar</h4>
              <%= link_to "View all Events", "#", class: "font-medium text-sm hover:text-indigo-600 text-slate-600 dark:text-slate-400 dark:hover:text-indigo-300" %>
            </div>          
          <%= turbo_frame_tag :calendar, src: calendars_path(date: Date.today) %>
        </div>
    </div>   
  </div>


  