<div class="max-w-screen-lg mx-auto">
  <%= form_with(model: @engine, local: true, html: { enctype: 'multipart/form-data' }) do |form| %>
    <% if @engine.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> <%= pluralize(@engine.errors.count, "error") %> prohibited this engine from being saved:</span>

        <ul class="list-disc list-inside">
        <% @engine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_make, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :engine_make, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :engine_model, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :engine_model, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_number, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :engine_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :barrel_number, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :barrel_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :seal_number, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :seal_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :year_manufactured, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :year_manufactured, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :notes, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_area :notes, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_photos, class: "block mb-2 text-sm font-medium text-gray-500" %>
      <%= form.file_field :engine_photos, multiple: true, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :dyno_sheet, class: "block mb-2 text-sm font-medium text-gray-500" %>
      <%= form.file_field :dyno_sheet, multiple: true, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    </div>

    <div class="mb-4">
      <h3>Current Dyno Sheets</h3>
        <% @engine.dyno_sheet.each_with_index do |dyno, index| %>
          <div class="field">
            <% if dyno.content_type == "application/pdf" %>
              <%= link_to 'View PDF', rails_blob_url(dyno), target: '_blank' %> |
            <% else %>
              <%= image_tag dyno.variant(resize_to_limit: [100, 100]) %>
            <% end %>
            <%= check_box_tag "engine[dyno_sheet_ids_to_delete][]", dyno.id %>
            <%= label_tag "Remove" %>
          </div>
        <% end %>
    </div>

    <div class="mb-4">
      <%= form.label :logbook_cover, class: "block mb-2 text-sm font-medium text-gray-500" %>
      <%= form.file_field :logbook_cover, class: "form-input" %>
    </div>

    <% @engine.dyno_sheet.each do |image| %>
      <%= form.hidden_field :dyno_sheet, multiple: true, value: image.signed_id %>
    <% end %>

    <% @engine.engine_photos.each do |image| %>
      <%= form.hidden_field :engine_photos, multiple: true, value: image.signed_id %>
    <% end %>

    <div class="flex items-center justify-between">
      <%= form.submit "Save Engine", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>