<div class="max-w-screen-lg mx-auto">
  <%= form_with(model: @engine, local: true, html: { enctype: 'multipart/form-data' }) do |form| %>
    <% if @engine.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> <%= pluralize(@engine.errors.count, "error") %> prohibited this engine from being saved:</span>

        <ul class="list-disc list-inside">
        <% @engine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_make, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :engine_make, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :engine_model, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :engine_model, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_number, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :engine_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :barrel_number, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :barrel_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :seal_number, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :seal_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :year_manufactured, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_field :year_manufactured, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :notes, class: "block text-gray-500 text-sm font-bold mb-2" %>
      <%= form.text_area :notes, class: "form-input" %>
    </div>
    
  <!-- Existing Photos Section -->
    <div class="mb-4">
      <h3 class="block mb-2 text-sm font-medium text-gray-500">Existing Photos</h3>
      <% @engine.engine_photos.each do |photo| %>
        <div class="flex items-center mb-2">
          <%= image_tag url_for(photo), class: 'h-24 w-24 object-cover rounded-lg mr-2' %>
          <%= check_box_tag "engine[existing_photos][]", photo.id %>
          <%= label_tag "engine_existing_photos_#{photo.id}", 'Remove' %>
        </div>
      <% end %>
    </div>

    <!-- New Photos Section -->
    <div class="mb-4">
      <%= form.label :engine_photos, "Add New Photos", class: "block mb-2 text-sm font-medium text-gray-500" %>
      <%= form.file_field :engine_photos, multiple: true, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    </div>

    <div class="mb-4">
      <%= form.label :dyno_sheet, class: "block mb-2 text-sm font-medium text-gray-500" %>
      <%= form.file_field :dyno_sheet, multiple: true, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    </div>

    <div class="mb-4">
      <%= form.label :logbook_cover, class: "block mb-2 text-sm font-medium text-gray-500" %>
      <%= form.file_field :logbook_cover, class: "block w-full text-sm border rounded-lg cursor-pointer dark:text-gray-400 focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Save Engine", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>