<div class="max-w-screen-lg mx-auto">
  <%= form_with(model: @engine, local: true, html: { enctype: 'multipart/form-data' }) do |form| %>
    <% if @engine.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> <%= pluralize(@engine.errors.count, "error") %> prohibited this engine from being saved:</span>

        <ul class="list-disc list-inside">
        <% @engine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_make, class: "form-label" %>
      <%= form.text_field :engine_make, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :engine_model, class: "form-label" %>
      <%= form.text_field :engine_model, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :engine_number, class: "form-label" %>
      <%= form.text_field :engine_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :barrel_number, class: "form-label" %>
      <%= form.text_field :barrel_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :seal_number, class: "form-label" %>
      <%= form.text_field :seal_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :year_manufactured, class: "form-label" %>
      <%= form.text_field :year_manufactured, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :notes, class: "form-label" %>
      <%= form.text_area :notes, class: "form-input" %>
    </div>
    
    <div class="form-group">
      <%= form.label :engine_image, class: "form-label" %>

      <% if @engine.engine_images.attached? %>
        <% @engine.engine_images.each do |image| %>
          <%= form.hidden_field :engine_images, multiple: true, value: image.signed_id %>
          <%= image_tag image, class: "w-24 h-24 object-cover rounded-lg" %>
          <%= link_to "Remove", remove_image_engine_path(image), data: { confirm: "Are you sure?", turbo_method: :delete }, class: "btn btn-danger" %>
        <% end %>
      <% end %>

      <%= form.file_field :engine_images, multiple: true, class: "form-file" %>
    </div>
    
    <div class="form-group">
      <%= form.label :logbook_cover, class: "form-label" %>
      <%= form.file_field :logbook_cover, class: "form-file" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Save Engine", class: "btn btn-white" %>
    </div>



  <% end %>
</div>