<div class="max-w-screen-lg mx-auto">
  <%= form_with(model: @track, local: true) do |form| %>
    <% if @track.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> There is <%= pluralize(@track.errors.count, "error") %> which stopped this Track from being saved, the error is:</span>

        <ul class="list-disc list-inside">
        <% @track.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :latitude, class: "form-label" %>
      <%= form.text_field :latitude, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :longitude, class: "form-label" %>
      <%= form.text_field :longitude, class: "form-input" %>
    </div>


    <div class="mb-4">
      <%= form.label :contact_number, class: "form-label" %>
      <%= form.text_field :contact_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :mobile, class: "form-label" %>
      <%= form.text_field :mobile, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :main_image, class: "form-label" %>
      <%= form.file_field :main_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :logo, class: "form-label" %>
      <%= form.file_field :logo, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :race_image, class: "form-label" %>
      <%= form.file_field :race_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :test_image, class: "form-label" %>
      <%= form.file_field :test_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :champ_image, class: "form-label" %>
      <%= form.file_field :champ_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :contact_image, class: "form-label" %>
      <%= form.file_field :contact_image, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :length, 'Length (metres)', class: "form-label" %>
      <%= form.number_field :length, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :short_desc, class: "form-label" %>
      <%= form.text_field :short_desc, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :tagline, class: "form-label" %>
      <%= form.text_field :tagline, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :location, class: "form-label" %>
      <%= form.text_field :location, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :website, class: "form-label" %>
      <%= form.text_field :website, class: "form-input" %>
    </div>

    <div class="mb-4">
        <%= form.text_field :facebook, class: "form-input", placeholder: "Facebook URL" %>
    </div>
    <div class="mb-4">
        <%= form.text_field :instagram, class: "form-input", placeholder: "Instagram URL" %>
    </div>

    <div class="mb-4">
      <%= form.label :facilities, "Select Facilities", class: "form-label" %>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% Track::FACILITIES.each do |facility| %>
          <div>
            <%= form.check_box :facilities, { multiple: true }, facility, nil %>
            <%= form.label facility %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="mb-4">
      <%= form.label :categories, "Select Categories", class: "form-label" %>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% Category.all.each do |category| %>
          <div>
            <%= check_box_tag "track[category_ids][]", category.id, @track.category_ids.include?(category.id), id: dom_id(category), class: "form-checkbox h-5 w-5 text-blue-600" %>
            <%= label_tag dom_id(category), category.name, class: "ml-2 text-sm font-medium text-white" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <%= form.label :google_static_map_url, class: "form-label" %>
      <%= form.text_field :static_map_url, class: "form-input" %>
    </div>

    <div class="flex items-center">
      <%= form.submit "Save Track", class: "btn btn-primary" %>
      <%= link_to 'Back', tracks_path, class: "btn btn-primary ml-4" %>
    </div>
  <% end %>
</div>