<div class="max-w-screen-lg mx-auto">
  <%= form_with(model: @track, local: true) do |form| %>
    <% if @track.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> There is <%= pluralize(@track.errors.count, "error") %> which stopped this Track from being saved, the error is:</span>

        <ul class="list-disc list-inside">
        <% @track.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :address, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :address, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :contact_number, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :contact_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :mobile, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :mobile, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :main_image, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :main_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :logo, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :logo, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :race_image, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :race_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :test_image, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :test_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :champ_image, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :champ_image, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :contact_image, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :contact_image, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :length, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :length, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :short_desc, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :short_desc, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :tagline, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :tagline, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :location, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :location, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.email_field :email, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :website, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :website, class: "form-input" %>
    </div>

    <div class="mb-4">
        <%= form.text_field :facebook, class: "form-input", placeholder: "Facebook URL" %>
    </div>
    <div class="mb-4">
        <%= form.text_field :instagram, class: "form-input", placeholder: "Instagram URL" %>
    </div>

    <div class="mb-4">
        <%= form.label :facilities %>
        <%= form.select :facilities, options_for_select(Track::FACILITIES.reject(&:blank?), @track.facilities), {}, { multiple: true, size: 5, class: "bg-white text-black border-gray-300" } %>
    </div>

    <div class="field">
      <%= form.label :category_ids, "Categories", class: "block text-gray-700 text-sm font-bold mb-2" %><br>
      <%= form.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true, class: "select-multiple text-black" } %>
    </div>

    <div class="mb-4">
      <%= form.label :static_map_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :static_map_url, class: "form-input" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Save Track", class: "btn btn-primary" %>
    </div>
  
  <% end %>
</div>