<%= link_to track_path(track) do %>
  <% cache(track, skip_digest: true) do %>
    <div class="mt-4 rounded relative overflow-hidden">
      <% if track.main_image.attached? %>
        <% cache(track.cache_key_with_version + '/main_image', expires_in: 1.month) do %>
          <%= image_tag track.main_image, alt: "#{track.name} Main Image", class: "w-full h-full object-cover absolute inset-0", loading: "lazy" %>
        <% end %>
      <% else %>
        <%= image_tag 'placeholder.webp', alt: "Default Image", class: "w-full h-full object-cover absolute inset-0", loading: "lazy" %>
      <% end %>

      

      <div class="relative bg-[hsla(0,0%,0%,0.5)] h-full">
        <div class="px-5 py-5">
          <h2 class="text-1xl font-bold text-white"><%= track.name %></h2>
          <p class="mb-1 text-sm">
            <svg class="inline w-2.5 h-5 text-indigo-600 mr-2 pb-1" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
            </svg>
            <%= track.location %>
          </p>
            <p class="mb-2 text-sm">
              <span class="font-semibold">Next Race:</span> -
              <%= track.next_race_event.present? ? track.next_race_event.start_date.strftime("%A #{track.next_race_event.start_date.day.ordinalize} %B") : "No upcoming races" %>
            </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>