<section
    <% if @track.main_image.attached? %>
       class="bg-cover bg-center bg-no-repeat" style="background-image: url('<%= url_for(@track.main_image) %>');"
    <% else %>
      class="bg-cover bg-center bg-no-repeat" style="background-image: url('<%= asset_url('placeholder.webp') %>');"
    <% end %>
>
  <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:items-center lg:px-8">
    <div class="max-w-xl text-center ltr:sm:text-left">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        <%= @track.name %>
        <strong class="block font-extrabold text-rose-700">
          <%= @track.location %>, UK
        </strong>
      </h1>
      <p class="mt-4 max-w-lg mx-auto sm:text-xl/relaxed">
        <%= @track.short_desc %>
      </p>
      <div class="mt-8 flex flex-wrap gap-4 md:justify-center sm:justify-center">
        <%= link_to "Track Calendar", "#track-calendar", class: "block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto" %>
        <%= link_to "Contact", "#contact", class: "block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none over:bg-rose-700 focus:ring active:text-rose-500 sm:w-auto" %>
        <% if current_user&.admin? || current_user&.role == 'manager' %>
        <%= link_to "Edit Track", edit_track_path(@track), class: "block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none over:bg-rose-700 focus:ring active:text-rose-500 sm:w-auto" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="relative isolate overflow-hidden bg-gray-900 mt-10 sm:py-32" id="track_info">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl"><%= @track.name %></h2>
      <p class="font-bold mt-6 mb-6 text-lg leading-8 text-gray-300 sm:text-3xl"><%= @track.short_desc %></p>  
    </div>
    <div class="mx-auto max-w-2xl lg:mx-0">

    <div class="flex">
        <% if current_user %> 
        <% button_text = @followable.is_a?(Championship) ? ['Follow', 'Unfollow'] : ['Add to my Tracks', 'Remove from my Tracks'] %>
          <%= turbo_frame_tag dom_id(@track, "follow_#{dom_class(@track)}"), class: "w-auto" do %>
            <% if current_user.following?(@track) %>
              <%= link_to button_text[1], follow_path(id: current_user.follows.find_by(followable: @track).id), method: :delete, class: "btn bg-rose-600", data: { turbo_method: :delete } %>
            <% else %>
              <%= link_to button_text[0], follows_path(followable_type: @track.class.name, followable_id: @track.id), method: :post, class: "btn btn-primary", data: { turbo_method: :post } %>
            <% end %>
          <% end %>
        <% end %>
        </div>
    </div>
    
    <div class="mx-auto mt-10 mb-10 max-w-2xl lg:mx-0 lg:max-w-none border-b-2 border-slate-700">
      <dl class="mb-16 grid grid-cols-2 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Track Length</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><%= @track.length %>m</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Next Test Day</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><%= @next_test_event.present? ? @next_test_event.start_date.strftime("%-d/%m/%Y") : "Not Listed" %></dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Next Race Day</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><%= @next_race_event.present? ? @next_race_event.start_date.strftime("%-d/%m/%Y") : "Not Listed" %></dd>
        </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Track Surface</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><%= @track.track_surface ? @track.track_surface : "Not Provided" %></dd>
          </div>
        <% if @track.live_timing.present? %>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Click Here</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
              <% if @track.live_timing.present? %>
                <%= link_to @track.live_timing, target: "_blank", class: "text-blue hover:text-blue-600", rel: "noopener noreferrer" do %>
                  Live Timing Link
                <% end %>
              <% else %>
                No Live Timing Available
              <% end %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>

  <div class="mx-auto pb-10 mt-10 mb-10 max-w-2xl lg:mx-0 lg:max-w-none border-b-2 border-slate-700">
    <h2 class="text-white mb-5 font-semibold text-2xl">Facilities</h2>
      <div class="grid grid-cols-2 gap-x-4 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
      <% @track.facilities.each do |facility| %>
          <% unless facility.blank? %>
        <div>
          <p> - <%= facility %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <section id="contact">
  <div class="relative isolate overflow-hidden bg-gray-900 mx-auto mt-10">
  <div class="mx-auto max-w-7xl">
     <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-white font-semibold text-2xl">Contact Details</h2>
    </div>
    
    <div class="mx-auto mt-5 max-w-2xl lg:mx-0 lg:max-w-none">
      <dl class="mb-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Track Address</dt>
          <dd class="text-1xl font-bold leading-9 tracking-tight text-white"><%= @track.address %></dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Contact Number</dt>
          <dd class="text-1xl font-bold leading-9 tracking-tight text-white"><%= @track.contact_number %></dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Email Address</dt>
          <dd class="text-1xl font-bold leading-9 tracking-tight text-white"><%= @track.email %></dd>
        </div>
        <% if @track.paddock_email.present? %>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Paddock Booking Email</dt>
            <dd class="text-1xl font-bold leading-9 tracking-tight text-white"><%= @track.paddocks_email %></dd>
          </div>
        <% end %>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Website</dt>
          <dd class="text-1xl font-bold leading-9 tracking-tight text-white md:text-md">
            <% url = @track.website.start_with?('http://', 'https://') ? @track.website : "http://#{@track.website}" %>
            <%= link_to url, target: "_blank", class: "text-blue-500 hover:text-blue-600", rel: "noopener noreferrer" do %>
              <%= @track.website %>
            <% end %>
          </dd>
        </div>
      
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300 mt-2">Social Media</dt>
          <dd class="flex flex-row items-center justify-start space-x-4 text-1xl font-bold leading-9 tracking-tight text-white">
            <% if @track.facebook.present? %>
            <%= link_to @track.facebook, target: "_blank", rel: "noopener noreferrer" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955 .192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
              </svg>
            <% end %>
            <% end %>
            <% if @track.instagram.present? %>
              <%= link_to @track.instagram, target: "_blank", rel: "noopener noreferrer" do %>
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 "
                  fill="currentColor"
                  viewBox="0 0 24 24">
                  <path
                    d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                </svg>
              <% end %>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
</section>
  <div class="relative mx-auto max-w-screen-xl px-4 sm:px-6 lg:flex lg:items-center lg:px-8 mt-2 line-clamp-none hover:line-clamp-none">
    <p class="text-lg leading-8 text-gray-300 "><%= @track.description %></p>
  </div>
</div>

<section id="events">
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-8 lg:px-8">
    <header class="text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">
        Racing and Testing at <%= @track.name %>
      </h2>

      <p class="max-w-md mx-auto mt-4 text-gray-500">
        The next scheduled events at <%= @track.name %>
      </p>
    </header>

  <ul class="grid grid-cols-2 gap-4 mt-8">
    <li>
      <%= link_to @next_test_event, class: "relative block group" do %>
        <% if @track.test_image.present? %>
          <%= image_tag @track.test_image, alt: "next race event photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" %>
        <% else %>
          <%= image_tag random_default_image, alt: "next test event photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90 h-38 w-38" %>
        <% end %>
          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <span class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white rounded-lg ">
                <% if @next_test_event.present? %>
                    Next Test Day - <%= @next_test_event.start_date.strftime("%A #{ @next_test_event.start_date } %B %Y")%> - <%= @next_test_event.title %>
              <% else %>
                Currently No Test Days Scheduled
              <% end %>
            </span>
          </div>
        <% end %>
    </li>

    <li>
      <%= link_to @next_race_event, class: "relative block group" do %>
        <% if @next_race_event&.image.present? %>
          <%= image_tag @next_race_event.image, alt: "about photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" %>
        <% else %>
          <%= image_tag random_default_image, alt: "about photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" %>
        <% end %>
          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <span class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white rounded-lg">
              <% if @next_race_event.present? %>
                    Next Race Day - <%= @next_race_event.start_date.strftime("%A #{ @track_race_events.last.start_date } %B %Y")%> - <%= @next_race_event.title %> - <%= @next_race_event.championship.present? ? @next_race_event.championship.name : 'No Championship' %>
              <% else %>
                Currently No Race Days Scheduled
              <% end %>
            </span>
          </div>
        <% end %>
      </li>
  </ul>
  </div>

  <div class="container flex mx-auto justify-center mb-10">
    <%= link_to "View Full Calendar", "#track-calendar", class: "btn btn-primary" %>
  </div>
</section>

<section id="local-info">
  <%= js_map [{lat: @track.latitude , lon: @track.longitude }], zoom: 11 %>

  <div class="container flex flex-wrap mx-auto">
    <div class="w-full md:w-1/2 px-2 my-4">
      <h2 class="text-2xl font-bold text-white-800 mb-4 text-center">Nearest Hotels</h2>
        <% if @hotels.present? %>
          <% @hotels['features'].each do |hotel| %>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden mb-2">
              <div class="p-4">
              <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= hotel['text'] %></h2>
              <% place_name_parts = hotel['place_name'].split(', ') %>
              <% address_without_country = place_name_parts[1..-2].join(', ') %>
              <p class="text-gray-600"><%= address_without_country %></p>
              <% if hotel['geometry'] && hotel['geometry']['coordinates'] %>
                <% coords = hotel['geometry']['coordinates'] %>
                <% origin_address = @track.address %>
                <a href="https://www.google.com/maps/dir/?api=1&origin=<%= origin_address %>&destination=<%= coords[1] %>,<%= coords[0] %>" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-600">Get Directions</a>
              <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No hotel information available.</p>
        <% end %>
    </div>

    <div class="w-full md:w-1/2 px-2 my-4">
      <h2 class="text-2xl font-bold text-white-800 mb-4 text-center">Nearest Fuel Stations</h2>
        <% if @fuel_stations.present? %>
          <% @fuel_stations['features'].each do |station| %>
            <div class="bg-white shadow-lg rounded-lg overflow-hidden mb-2">
              <div class="p-4">
                <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= station['text'] %></h2>
                <% place_name_parts = station['place_name'].split(', ') %>
                  <% address_without_country = place_name_parts[1..-2].join(', ') %>
                  <p class="text-gray-600"><%= address_without_country %></p>
                  <% if station['geometry'] && station['geometry']['coordinates'] %>
                    <% coords = station['geometry']['coordinates'] %>
                    <% origin_address = @track.address %>
                    <a href="https://www.google.com/maps/dir/?api=1&origin=<%= origin_address %>&destination=<%= coords[1] %>,<%= coords[0] %>" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-600">Get Directions</a>
                  <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No fuel station information available.</p>
        <% end %>
    </div>

  <script>
    <% if @fuel_stations && @fuel_stations['features'] %>
      var fuelStations = <%= @fuel_stations['features'].to_json.html_safe %>;
    <% else %>
      var fuelStations = [];
    <% end %>

    <% if @hotels && @hotels['features'] %>
      var hotels = <%= @hotels['features'].to_json.html_safe %>;
    <% else %>
      var hotels = [];
    <% end %>
  </script>
</section>


<div class="container mx-auto mt-8 px-4" id="track-calendar">
  <div class="w-full text-center mb-6">
    <p class="text-indigo-600 font-medium mb-3 lg:mt-0 mt-2 dark:text-indigo-500">Coming Soon</p>
    <h1 class="text-4xl font-extrabold">Future Events</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
    <% @future_track_events.each do |event| %>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col">
        <% if event.image.present? %>
          <%= image_tag event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag random_default_image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
        <div class="p-4">
        <div class="flex justify-center items-center">
          <h5 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-gray-900">
            <% if event.championship&.logo.present? %>
              <%= image_tag event.championship.logo, alt: "Championship", class: "w-30 h-12 object-contain" %>
            <% elsif event.championship.present? %>
              <%= event.championship.name %>
            <% elsif event.track&.logo.present? %>
              <%= image_tag event.track.logo %>
            <% end %>
          </h5>
        </div>
          <h2 class="text-xl text-gray-800 font-semibold mb-2 text-center"><%= event.title %> at <%= event.track.name %></h2>
          <p class="text-gray-600 mb-2 text-center"><%= event.start_date.strftime('%d %B, %Y') %></p>
        </div>
        <div class="bg-white pb-4 space-x-4 flex justify-center">
          <%= link_to event_path(event), class: "border flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" do %>
            <span>View Event</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
            </svg>
          <% end %>
          <% if current_user&.admin? || current_user&.role == 'manager' %>
            <%= link_to "Edit Event", edit_event_path(event), class: "btn btn-dark" %> 
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>