<div class="max-w-screen-lg mx-auto">
  <%= form_with(model: @championship, local: true, html: { enctype: 'multipart/form-data' }) do |form| %>
    <% if @championship.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> <%= pluralize(@championship.errors.count, "error") %> prohibited this championship from being saved:</span>

        <ul class="list-disc list-inside">
        <% @championship.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :short_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :short_name, class: "form-input" %>
    </div>

     <div class="mb-4">
      <%= form.label :long_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :long_name, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :contact_number, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :contact_number, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :mobile, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :mobile, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :email, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :website, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :website, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :tagline, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :tagline, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :championship_entry_fee, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :champ_fee, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :race_entry_fee, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :race_fee, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :test_fee, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :test_fee, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :champ_type, "Championship Type", as: :label, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :champ_type, ['Club', 'Series'], {}, class: 'form-select' %>
    </div>

    <div class="mb-4">
      <%= form.label :licence, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :licence, ['NA', 'MSUK Licence', 'Non Licensed'], {}, class: 'form-select' %>
    </div>

    <% if current_user.manager? && current_user.tracks.count == 1 %>
      <div class="mb-4">
        <%= form.hidden_field :home_track_id, value: current_user.tracks.first.id %>
        <p>Track: <%= current_user.tracks.first.name %></p>
      </div>
    <% elsif current_user.admin? %>
      <div class="mb-4">
        <%= form.label :home_track_id, "Home Track", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.collection_select(:home_track_id, Track.all, :id, :name, {prompt: 'Select a Track'}, {class: "mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:ring focus:ring-opacity-50 text-gray-800 bg-white"}) %>
      </div>
    <% else %>
      <div class="mb-4">
        <%= form.label :home_track_id, "Home Track", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.collection_select(:home_track_id, current_user.managed_tracks, :id, :name, {prompt: 'Select a Track'}, {class: "mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:ring focus:ring-opacity-50 text-gray-800 bg-white"}) %>
      </div>
    <% end %>

    <div class="mb-4 ">
      <%= form.label :image, class: "block text-white-700 text-sm font-bold mb-2" %>
      <%= form.file_field :image, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :logo, class: "block text-white-700 text-sm font-bold mb-2" %>
      <%= form.file_field :logo, class: "form-input" %>
    </div>

    <%= form.fields_for :social_media do |sm| %>
      <div class="mb-4">
        <%= sm.label :facebook, "Facebook URL:", class:"block text-gray-700 text-sm font-bold mb-2" %>
        <%= sm.text_field :facebook, value: @championship.social_media[:facebook] || '', class:'form-input' %>
      </div>
      <div class="mb-4">
        <%= sm.label :instagram, "Instagram URL:", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= sm.text_field :instagram, value: @championship.social_media[:instagram] || '', class: "form-input" %>
      </div>
    <% end %>

    <div class="flex items-center justify-between">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
