<div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">
  <div class="w-full text-center">
    <p class="text-indigo-600 font-medium mb-6 lg:mt-0 mt-2 dark:text-indigo-500">Next Up</p>
    <h1 class="sm:text-6xl text-4xl font-extrabold">Championships </h1>
    <p class="my-6 text-slate-700 dark:text-slate-400 text-lg">Explore Championships running events this weekend.</p>
  </div>
  
  <div class="w-full grid <%= @next_championship_events.size > 1 ? 'md:grid-cols-2' : 'md:grid-cols-1' %>">
    <% @next_championship_events.each do |champ_event| %>
      <div class="flex flex-col items-center text-center mt-6">
        <div class="flex justify-center relative mt-6 mx-4">
          <% if champ_event.image.attached? %>
            <%= image_tag champ_event.image, alt: "Events", class: "max-w-full object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-5020" %>
          <% else %>
            <%= image_tag random_default_image, alt: "Events", class: "max-w-full object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-5020" %>
          <% end %>
        </div>
        <div class="w-full text-center mt-6 space-y-2">
        <% if champ_event.logo.present? %>
          <%= image_tag champ_event.logo, alt: "championship logo", class: "" %>
        <% end %>
          <p class="text-l text-slate-700 dark:text-slate-400"><%= champ_event.long_name %></p>
          <h1 class="text-3xl"><%= champ_event.events.first.title %></h1> 
          <h1 class="text-2xl"><%= champ_event.events.first.track.name %></h1>
          <p class="text-sm text-slate-700 dark:text-slate-400"><%= champ_event.events.first.start_date.strftime("%A, %B %e")  %> - <%= champ_event.events.first.end_date.strftime("%A, %B %e")  %></p>
          <%= link_to "View Details", event_path(champ_event.events.first), class: "btn btn-primary text-white-500 mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mx-auto mt-8 px-4">
  <h1 class="text-3xl font-semibold mb-4 text-center">UK Championships</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
    <% @championships.each do |championship| %>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col h-full">
        <% if championship.image.present? %>
          <%= image_tag championship.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag random_default_image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
        <div class="p-4 flex-grow">
          <% if championship.logo.present? %>
          <div class="flex justify-center h-24 w-full overflow-hidden"> <!-- Fixed height container -->
            <%= image_tag championship.logo, alt: "championship logo", class: "object-scale-down max-h-full" %> <!-- Scale down to fit -->
          </div>
        <% else %>
            <h2 class="text-xl font-semibold mb-2 text-black text-center"><%= championship.long_name %></h2>
          <% end %>
          <p class="text-gray-600 mb-2 text-center font-semibold mt-5">Next Event</p>
          <p class="text-gray-600 mb-2 text-center"><%= championship.next_champ_event.present? ? "#{championship.next_champ_event.title} on #{championship.next_champ_event.start_date.strftime('%d/%m/%y')}" : "No events scheduled" %></p>
        </div>
        <div class="bg-white p-4 space-x-4 flex justify-center">
          <%= link_to "View Championship", (championship_path(championship)), class: "text-white hover:light btn btn-dark" %>
          <% this_champ_event = championship.next_champ_event %>
          <% if this_champ_event.present? %>
            <%= link_to "View Next Event", event_path(this_champ_event), class: "btn btn-primary text-white" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>