<div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">
  <div class="w-full text-center">
    <p class="text-indigo-600 font-medium mb-6 lg:mt-0 mt-2 dark:text-indigo-500">Next Up</p>
    <h1 class="sm:text-6xl text-4xl font-extrabold">This Weekend.. </h1>
    <p class="my-6 text-slate-700 dark:text-slate-400 text-lg">Explore Championships running events this weekend. Get on the grid!</p>
  </div>
  
  <div class="w-full grid lg:grid-cols-2">
    <% @next_championships.each do |champ| %>
      <% next_event = champ.events.where(event_type: "Race").where(date: Date.today..(Date.today + 6.days)).first %>
      <div class="flex flex-col items-center text-center mt-6">
        <div class="flex justify-center relative mt-6 mx-4">
          <% if next_event.image.attached? %>
            <%= image_tag next_event.image, alt: "Events", class: "max-w-full object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-5020" %>
          <% else %>
            <%= image_tag "JHPhoto-3117.jpg", alt: "Events", class: "max-w-full object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-5020" %>
          <% end %>
        </div>
        <div class="w-full text-center mt-6 space-y-2">
          <h1 class="text-4xl"><%= champ.name %></h1>
          <% if next_event %>
            <p class="text-xl"><%= next_event.title %></p>
            <p class="text-xl"><%= next_event.date.strftime("%A, %B %e") %></p>
            <p class="text-xl"><%= next_event.track.name %></p>
            <%= link_to "View Details", (event_path(next_event)), class: "btn btn-primary text-white-500 mt-2" %>
          <% else %>
            <p class="text-xl">No upcoming events this weekend!</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mx-auto mt-8 px-4">
  <h1 class="text-3xl font-semibold mb-4 text-center">All Championships</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
    <% @championships.each do |championship| %>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <% if championship.image.present? %>
          <%= image_tag championship.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag "JHPhoto-3111.jpg", alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
        <div class="p-4">
          <h2 class="text-xl font-semibold mb-2 text-black"><%= championship.name %></h2>
          <p class="text-gray-600 mb-2">Next Event - </p>
        </div>
        <div class="bg-white p-4">
          <%= link_to "View Championship", (championship_path(championship)), class: "text-white hover:underline btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
