<div class=" container mx-auto mt-10">
</div>

<div class="container mx-auto pb-10 px-4 relative z-10 flex flex-wrap items-center">
  <div class="xl:w-2/5 w-full xl:text-left text-center xl:pr-16">
  <% if @championship.logo.attached? %>
    <div class="flex justify-center relative">
      <%= image_tag @championship.logo, alt: "Events", class: "max-w-1/4 object-cover rounded-1xl relative z-20 shadow-2xl shadow-slate-500/20 bg-white p-2" %>
    </div>
  <% else %>
    <h1 class="sm:text-6xl text-4xl font-extrabold text-white text-center"><%= @championship.name %></h1>
  <% end %>
    <p class="my-6 text-slate-700 dark:text-slate-400 text-lg text-center"><%= @championship.tagline %></p>
    <div class="flex grid grid-cols-1 gap-4">
      <%= link_to "View the Calendar", "#champ-calendar", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <div class="xl:w-2/4 w-full xl:my-0 mt-6 mb-10">
  <% if @championship.image.attached? %>
    <div class="flex justify-center relative">
      <%= image_tag @championship.image, alt: "Events", class: "max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-500/20" %>
    </div>
  <% else %>
    <div class="flex justify-center relative">
      <%= image_tag random_default_image, alt: "Events", class: "max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-50020"%>
    </div>
  <% end %>
    <div class="container mx-auto py-8 max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 p-6">
        <h1 class="text-3xl font-semibold text-white mb-4 text-center"><%= @championship.long_name %></h1>
        <% if current_user %>
        <div class="flex justify-center">
          <% button_text = @followable.is_a?(Championship) ? ['Follow', 'Unfollow'] : ['Add to my Tracks', 'Remove from my Tracks'] %>
          <%= turbo_frame_tag dom_id(@championship, "follow_#{dom_class(@championship)}"), class: "w-auto" do %>
            <% if current_user.following?(@championship) %>
              <%= link_to 'Remove from My Championships', follow_path(id: current_user.follows.find_by(followable: @championship).id), method: :delete, class: "btn bg-rose-600 btn-md", data: { turbo_method: :delete } %>
            <% else %>
              <%= link_to 'Add to My Championships', follows_path(followable_type: @championship.class.name, followable_id: @championship.id), method: :post, class: "btn btn-primary", data: { turbo_method: :post } %>
            <% end %>
          <% end %>
        </div>
        <% end %>
        <div class="text-gray-200 mb-1 mt-5">
          <p class="mb-2">
            <strong>Website - </strong> 
             <%= link_to @championship.website, (@championship.website =~ /^https?:\/\// ? @championship.website : "http://#{@championship.website}"), target: "_blank", rel: "noopener noreferrer" %>
          </p>
          <p class="mb-2"><strong>Contact Number - </strong> <%= @championship.contact_number%> </p>
          <p class="mb-6"><strong>Email - </strong> <%= @championship.email %> </p>
          <div class="flex flex-row items-center space-x-4 mb-6">
          <% if @championship.social_media[:facebook].present? %>
            <%= link_to @championship.social_media[:facebook], target: "_blank", rel: "noopener noreferrer" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955 .192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
              </svg>
            <% end %>
          <% end %>
            <% if @championship.social_media[:instagram].present? %>
              <%= link_to @championship.social_media[:instagram], target: "_blank", rel: "noopener noreferrer" do %>
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 "
                  fill="currentColor"
                  viewBox="0 0 24 24">
                  <path
                    d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                </svg>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="mb-8 mt-4">
          <h2 class="text-xl font-semibold text-white mb-2">Description</h2>
          <p class="text-gray-300"><%= @championship.description %></p>
        </div>
        <div class="mb-8">
          <p class="mb-2"><strong>Championship Entry Fee:</strong> £<%= @championship.champ_fee %></p>
          <p class="mb-2"><strong>Race Fee:</strong> £<%= @championship.race_fee %> </p>
          <p class="mb-2"><strong>Non Member Race Fee:</strong> £<%= @championship.non_member_race_fee %> </p>
          <p class="mb-2"><strong>Test Day Fee:</strong> £<%= @championship.test_fee %> </p>
        </div>
        <%= link_to "Back to Events", championships_path, class: "btn btn-primary" %>
        <% if current_user&.admin? %>
          <%= link_to "Edit Championship", edit_championship_path(@championship), class: "btn btn-dark" %> 
        <% end %>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 mt-10 mb-10" id="champ-calendar">
  <h1 class="text-3xl font-semibold mb-4 text-center mb-5"><%= @championship.long_name %> Calendar</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @future_champ_events.each do |future_champ_event| %>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <% if future_champ_event.image.attached? %>
        <%= image_tag future_champ_event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
      <% else %>
        <%= image_tag random_default_image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
      <% end %>
        <div class="p-4">
          <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= future_champ_event.title %> - <%= future_champ_event.track.name %></h2>
          <p class="text-gray-800 mb-2"><span class="font-semibold">Date -</span> <%= future_champ_event.start_date.strftime('%d/%m/%y') %></p>
          <p class="text-gray-800"><%= future_champ_event.description %></p>
        </div>
        <div class="p-4">
          <%= link_to "View Event", event_path(future_champ_event), class: "text-white-500 hover:underline btn btn-primary" %>
          <% if current_user&.admin? %>
            <%= link_to "Edit Event", edit_event_path(future_champ_event), class: "btn btn-dark" %> 
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


</div>

