<footer class="container mx-auto px-4 pb-2">
  <nav role="Utility navigation">
    <ul class="flex items-center justify-center text-center lg:my-6 mb-6 lg:text-base text-lg">
      <li class="py-3 lg:py-0">
        <%= link_to "Features", "#", class: "px-3 py-2 hover:text-indigo-700 dark:hover:text-indigo-500 hidden" %>
      </li>
        <li class="py-3 lg:py-0">
          <%= link_to "About", about_path, class: "px-3 py-2 hover:text-indigo-700  dark:hover:text-indigo-500 hidden" %>
        </li>
    </ul>
  </nav>

  <ul class="flex items-center justify-center space-x-6 mb-6 hidden">
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "facebook", path: "social/facebook.svg", classes: "w-6 h-6 fill-current text-slate-400 group-hover:text-indigo-600 dark:group-hover:text-indigo-500" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "twitter", path: "social/twitter.svg", classes: "w-6 h-6 fill-current text-slate-400 group-hover:text-indigo-600 dark:group-hover:text-indigo-500" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "linkedin", path: "social/linkedin.svg", classes: "w-6 h-6 fill-current text-slate-400 group-hover:text-indigo-600 dark:group-hover:text-indigo-500" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "youtube", path: "social/youtube.svg", classes: "w-6 h-6 fill-current text-slate-400 group-hover:text-indigo-600 dark:group-hover:text-indigo-500" %>
      <% end %>
    </li>
  </ul>

  <div class="container mx-auto flex justify-center mb-2 mt-10">
    <%= link_to 'Submit a Correction', new_contact_path, class: "text-xs inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
  <p class="text-center text-slate-600 text-sm">&copy; KartStream All Rights Reserved. - <%= link_to "Privacy Policy", privacy_path, class: "text-slate-400" %>
</footer>
