<li >
  <%= nav_link_to "Home", send("home_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "About", send("about_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Tracks", send("tracks_path"), class: "nav-link" %>
</li>
<li class="relative group cursor_pointer">
  <%= nav_link_to "Championships", send("championships_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Races", send("race_events_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Test Days", send("test_events_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "News", send("contact_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Contact", send("contact_path"), class: "nav-link" %>
</li>
