<li >
  <%= nav_link_to "Home", send("home_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Events", send("events_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Tracks", send("tracks_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Championships", send("championships_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Contact", send("new_contact_path"), class: "nav-link" %>
</li>