 <ul class="divide-y dark:divide-slate-700/80">
      <% @events.each do |event| %>
        <!-- Begin: example event -->
        <li class="flex items-start justify-between space-x-4 relative py-5">

          <%= link_to "#" do %>
            <%= image_tag demo_avatar_url(id: event[:img][:id]), class: "w-10 h-10 rounded-full", alt: event[:title] %>
          <% end %>

          <div class="flex-1">
            <%= link_to "#", class: "group" do %>
              <h3 class="font-medium group-hover:text-indigo-600 text-base dark:text-slate-300 dark:group-hover:text-indigo-400 text-slate-700 mb-1"><%= event[:title] %></h3>
            <% end %>

            <p class="text-sm dark:text-slate-400/90 text-slate-500"><%= event[:time] %></p>

            <div class="mt-2 flex items-center space-x-2 text-xs dark:text-slate-400/90 text-slate-500">
              <%= icon "map-pin", classes: "stroke-current w-5 h-5 text-slate-400 dark:text-slate-500/80" %>
              <span><%= event[:zoom] %></span>
            </div>
          </div>
          <div data-controller="dropdown">
            <button data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="trigger"
              class="btn btn-transparent px-2 py-1">
              <%= icon "ellipsis-horizontal", classes: "stroke-current flex-shrink-0 w-6 h-6 text-slate-400" %>
            </button>

            <ul data-dropdown-target="menu"
              class="hidden transition transform origin-top-right absolute right-0 top-14 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 md:w-[200px] w-full z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 md:text-sm text-base font-medium text-slate-600 dark:text-slate-200"
              data-transition-enter-active="transition ease-out duration-300"
              data-transition-enter-from="transform opacity-0 scale-95"
              data-transition-enter-to="transform opacity-100 scale-100"
              data-transition-leave-active="transition ease-in duration-300"
              data-transition-leave-from="transform opacity-100 scale-100"
              data-transition-leave-to="transform opacity-0 scale-95">
              <li>
                <%= link_to "#", class: "py-2 px-4 hover:text-indigo-600 focus:text-indigo-600 flex items-center space-x-2 w-full group dark:hover:text-indigo-400" do %>
                  <%= icon "pencil-square", classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-indigo-600 dark:group-hover:text-indigo-400" %>
                  <span>Edit</span>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: "py-2 px-4 hover:text-indigo-600 focus:text-indigo-600 flex items-center space-x-2 w-full group dark:hover:text-indigo-400" do %>
                  <%= icon "paper-airplane", classes: "stroke-current w-5 h-5 text-slate-500 group-hover:text-indigo-600 dark:group-hover:text-indigo-400" %>
                  <span>Message</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <% end %>
      </ul>