      <div class="relative flex flex-col md:flex-row bg-white rounded-xl shadow-lg overflow-hidden transition-all duration-300 hover:shadow-xl">
        <div class="relative w-full md:w-2/5 h-48 md:h-auto">
          <%= image_tag random_default_image, alt: "Event Image", class: "object-cover w-full h-full" %>
          <div class="absolute top-0 left-0 m-4">
            <%= render 'events/event_badges', event: event %>
          </div>
        </div>
        <div class="p-6 flex flex-col justify-between w-full md:w-3/5">
          <div>
            <div class="flex items-center justify-between mb-2">
              <h5 class="text-xl font-bold text-gray-900 truncate">
                <% if event.championship&.logo.present? %>
                  <%= image_tag event.championship.logo, alt: "Championship Logo", class: "h-8 object-contain" %>
                <% elsif event.championship.present? %>
                  <%= event.championship.name %>
                <% elsif event.track&.logo.present? %>
                  <%= image_tag event.track.logo, alt: "Track Logo", class: "h-8 object-contain" %>
                <% else %>
                  <%= event.track.name %>
                <% end %>
              </h5>
              <div class="bg-gray-100 text-gray-800 text-sm font-medium px-2 py-1 rounded-full">
                <% if event.start_date.strftime('%d %B, %Y') == event.end_date.strftime('%d %B, %Y') %>
                  <%= event.start_date.strftime("%d %b %Y") %>
                <% else %>
                  <%= event.start_date.strftime("%d %b") %> - <%= event.end_date.strftime("%d %b %Y") %>
                <% end %>
              </div>
            </div>
            <h4 class="text-lg font-semibold text-gray-900 mb-1"><%= event.title %></h4>
            <p class="text-sm text-gray-600 mb-2">at <%= event.track.name %></p>
            <p class="text-sm text-gray-700 mb-4"><%= event.description.truncate(100, omission: '...') %></p>
          </div>
          <%= link_to event_path(event), class: "btn-event self-start" do %>
            <span class="font-sans">View Event</span>
            <%= svg_icon %>
          <% end %>
        </div>
      </div>