<div class="max-w-screen-lg mx-auto container px-5">
  <%= form_with(model: @event, local: true, html: { enctype: 'multipart/form-data' }) do |form| %>
    <% if @event.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"> <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</span>

        <ul class="list-disc list-inside">
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    
    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :description, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :start_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :start_date, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :end_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :end_date, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :price, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :price, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :event_type, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :event_type, ['Race', 'Test'], {}, class: 'form-select' %>
    </div>

    <% if current_user.manager? && current_user.tracks.count == 1 %>
    <div class="mb-4">
      <%= form.hidden_field :track_id, value: @event.track_id %>
      <p>Track: <%= @event.track.name %></p>
    </div>
    <% elsif current_user.admin? %>
    <div class="mb-4">
      <%= form.label :track, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.collection_select(:track_id, Track.all, :id, :name, {:prompt => 'Select a Track'}, { class: "mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:ring focus:ring-opacity-50 text-white-800 bg-inherit" }) %>
    </div>
    <% else %>
    <div class="mb-4">
      <%= form.label :track, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.collection_select(:track_id, current_user.managed_tracks, :id, :name, {:prompt => 'Select a Track'}, { class: "mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:ring focus:ring-opacity-50 text-white-800 bg-inherit" }) %>
    </div>
    <% end %>

    <% if current_user.manager? %>
      <% managed_track_ids = current_user.managed_tracks.pluck(:id) %>
      <% filtered_championships = Championship.where(home_track_id: managed_track_ids) %>
      <div class="mb-4">
        <%= form.label :championship, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.collection_select(:championship_id, filtered_championships, :id, :name, { include_blank: 'Select an option' }, { class: "mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:ring focus:ring-opacity-50 text-black bg-white" }) %>
      </div>
    <% else %>
      <div class="mb-4">
        <%= form.label :championship, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.collection_select(:championship_id, Championship.all, :id, :name, { include_blank: 'Select an option' }, { class: "mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:ring focus:ring-opacity-50 text-white-800 bg-inherit" }) %>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :image, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :image, class: "form-input" %>
    </div>

    <div class="mb-4">
      <%= form.label :categories, "Select Categories", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% Category.all.each do |category| %>
          <div>
            <%= check_box_tag "event[category_ids][]", category.id, @event.category_ids.include?(category.id), id: dom_id(category), class: "form-checkbox h-5 w-5 text-blue-600" %>
            <%= label_tag dom_id(category), category.name, class: "ml-2 text-sm font-medium text-white" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex items-center">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>