<div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">
  <div class="w-full text-center mb-6">
    <p class="text-indigo-600 font-medium mb-3 lg:mt-0 mt-2 dark:text-indigo-500">Next Up</p>
    <h1 class="sm:text-5xl text-4xl font-extrabold">This Weeks Events</h1>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
    <% @this_weekends_events.each do |event| %>
      <div class="relative flex bg-clip-border rounded-xl bg-white text-gray-700 shadow-md w-full max-w-[48rem] ">
        <div class="relative w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
          <%= image_tag random_default_image, alt: "Events", class: "object-cover w-full h-full" %>
        </div>
        <div class="p-4">
          <div class="mb-3">
        <span class="bg-indigo-600 text-white px-2 py-1 rounded-full text-xs font-medium">
            <%= event.event_type %>
          </span>
          <% if event&.licence.present? && event&.licence == "MSUK Licence" %>
            <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-xs font-medium ml-1">
              <%= event.licence %>
            </span>
          <% elsif event&.licence.present? && event&.licence == "Non Licensed" %>
            <span class="bg-rose-500 text-white px-2 py-1 rounded-full text-xs font-medium ml-1">
              <%= event.licence %>
            </span>
          <% end %>
        </div>
          <h5 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            <% if event.championship&.logo.present? %>
              <%= image_tag event.championship.logo, alt: "Championship Logo", class: "w-30 h-10 object-contain" %>
            <% elsif event.championship.present? %>
              <%= event.championship.name %>
            <% elsif event.track&.logo.present? %>
              <%= image_tag event.track.logo, alt: "Track Logo", class: "w-30 h-10 object-contain" %>
            <% end %>
          </h5>
          <h4 class="block mb-2 font-sans text-1xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            <%= event.title %>
          </h4>
          <p class="block mb-4 font-sans text-base antialiased font-extrabold leading-relaxed text-gray-700 text-wrap">
            at <%= event.track.name %>
          </p>
          <p class="block mb-4 font-sans text-base antialiased font-normal leading-relaxed text-gray-700 text-wrap">
            <%= event.description.truncate(80, omission: '...') %>
          </p>   
          <p class="mb-6 mt-6">
            <span class="bg-gray-700 text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 border border-gray-500 ">
            <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
            </svg>
              <%= event.start_date.strftime('%d') %> - <%= event.end_date.strftime('%d %B %Y') %>
            </span>
          </p>
          <%= link_to event_path(event), class: "border inline-flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" do %>
            <span>View Event</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div id="calendar-section" class="w-full flex flex-wrap justify-center items-center mt-8">
    <div class="w-full text-center">
      <p class="text-indigo-600 font-medium mb-1 lg:mt-0 mt-2 dark:text-indigo-500">Events</p>
      <h1 class="text-4xl font-bold text-center">Calendar</h1>
      <%= turbo_frame_tag :calendar, src: calendars_path(date: Date.today) %>
    </div>
  </div>
</div>

  <%= turbo_frame_tag :events do %>
    <%= render @events %>
  <% end %>

<div class="container mx-auto mt-8 px-4">
  <div class="w-full text-center mb-6">
    <p class="text-indigo-600 font-medium mb-3 lg:mt-0 mt-2 dark:text-indigo-500">Coming Soon</p>
    <h1 class="text-4xl font-extrabold">Future Events</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
    <% @future_events.each do |event| %>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col">
        <% if event.image.present? %>
          <%= image_tag event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag random_default_image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
        <div class="p-4">
        <div class="flex justify-center items-center">
          <h5 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            <% if event.championship&.logo.present? %>
              <%= image_tag event.championship.logo, alt: "Championship", class: "w-30 h-12 object-contain" %>
            <% elsif event.championship.present? %>
              <%= event.championship.name %>
            <% end %>
          </h5>
        </div>
          <h2 class="text-xl text-gray-800 font-semibold mb-2 text-center"><%= event.title %> at <%= event.track.name %></h2>
          <p class="text-gray-600 mb-2 text-center"><%= event.start_date.strftime('%d %B, %Y') %></p>
        </div>
        <div class="bg-white pb-4 space-x-4 flex justify-center">
          <%= link_to event_path(event), class: "border flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20" do %>
            <span>View Event</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
            </svg>
          <% end %>
          <% if current_user&.admin? %>
            <%= link_to "Edit Event", edit_event_path(event), class: "btn btn-dark" %> 
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
