<div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between mt-10">
  <div class="w-full text-center mb-10">
    <p class="text-indigo-600 font-medium mb-3 lg:mt-0 mt-2 dark:text-indigo-500">Next Up</p>
    <h1 class="sm:text-5xl text-4xl font-extrabold">This Week in Karting..</h1>
  </div>
  <div class="w-full flex flex-wrap justify-center mb-5">
    <% Category.all.each do |category| %>
      <%= link_to category.name, events_path(category_id: category.id), data: { turbo_frame: "filtered-events" }, class: "bg-indigo-600 text-white px-3 py-1 m-0.5 rounded-full text-sm font-medium" %>
    <% end %>
    <%= link_to 'Clear Filters', events_path, data: { turbo_frame: "filtered-events" }, class: "bg-gray-700 text-white px-3 py-1 m-0.5 rounded-full text-sm font-medium" %>
  </div>
  <turbo-frame id="filtered-events">
  <div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-4 mt-5">
    <% @this_weekends_events.each do |event| %>
        <%= render "events/event", event: event %>
    <% end %>
  </div>
  </turbo-frame>
</div>
    <div class="p-6 lg:col-span-12 md:col-span-12 col-span-12 rounded-lg shadow-sm border border-slate-200 bg-white dark:bg-slate-800 dark:border-none dark:text-slate-300">
      <div id="calendar-section" class="mb-6">        
          <%= turbo_frame_tag :calendar, src: calendars_path(date: Date.today) %>
    </div>
  </div>   

  <%= turbo_frame_tag :events do %>
    <%= render @events %>
  <% end %>

<div class="container mx-auto mt-8 px-4" id="future-events">
  <div class="w-full text-center mb-6">
    <p class="text-indigo-600 font-medium mb-3 lg:mt-0 mt-2 dark:text-indigo-500">Coming Soon</p>
    <h1 class="text-4xl font-extrabold">Future Events</h1>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4">
    <% @next_week_events.each do |event| %>
      <%= render "events/event", event: event %>
    <% end %>
  </div>
</div>