<div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">

<div class="w-full text-center">
  <h1 class="sm:text-6xl text-4xl font-extrabold">Race Weekends</h1>
  <% if @this_weekends_race_events.empty? %>
    <div class="w-full text-center">
      <h1 class="text-3xl font-semibold mb-4 mt-10">No Events This Weekend</h1>
      <p class="text-xl">Check back next week for more events.</p>
    </div>
  <% else %>
      <p class="text-indigo-600 font-medium mb-6 lg:mt-0 mt-2 dark:text-indigo-500">Next Up</p>
      <h1 class="sm:text-6xl text-4xl font-extrabold">This Weekends Racing.. </h1>
      <p class="my-6 text-slate-700 dark:text-slate-400 text-lg">Explore race weekends near you.</p>
    </div>
      <div class="w-full grid <%= @race_events.size > 1 ? 'md:grid-cols-2' : 'md:grid-cols-1' %>">
          <% @race_events.each do |race_event| %>
            <% if race_event.start_date >= Date.today && race_event.start_date <= Date.today + 6.days %>
            <div class="flex flex-col items-center text-center mt-6">
              <div class="flex justify-center relative mt-6 mx-4">
                <% if race_event.image.attached? %>
                  <%= image_tag race_event.image, alt: "Events", class: "lg:max-h-fit max-w-full object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-5020" %>
                <% else %>
                  <%= image_tag "JHPhoto-3112.jpg", alt: "Events", class: "max-w-full object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-5020" %>
                <% end %>
              </div>
              <div class="w-full text-center mt-6 space-y-2">
                <p class="text-l text-slate-700 dark:text-slate-400"><%= race_event.championship.long_name %></p>
                <h1 class="text-3xl"><%= race_event.title %></h1>
                <h1 class="text-2xl"><%= race_event.track.name %></h1>
                <p class="text-sm"><%= race_event.start_date.strftime("%A, %B %e") %> - <%= race_event.end_date.strftime("%A, %B %e") %></p>
                <%= link_to "View Details", (event_path(race_event)), class: "btn btn-primary text-white-500 mt-2" %>
              </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>


<div class="container mx-auto mt-8 px-4">
  <h1 class="text-3xl font-semibold mb-4 text-center">Future Events</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
    <% @race_events.each do |race_event| %>
      <% if race_event.start_date > Date.today + 7.days %>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <% if race_event.image.present? %>
          <%= image_tag race_event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag random_default_image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
        <div class="p-4">
          <h2 class="text-xl text-gray-800 font-semibold mb-2"><%= race_event.title %> - <%= race_event.championship.name %></h2>
          <p class="text-gray-600 mb-2"><%= race_event.start_date.strftime('%B %d, %Y') %></p>
          <p class="text-gray-600 mb-2"><%= race_event.track.name %></p>
          <p class="text-gray-800"><%= race_event.description.truncate(150, omission: '...') %></p>
        </div>
        <div class="bg-gray-100 p-4">
          <%= link_to "View Details", event_path(race_event), class: "text-blue-500 hover:underline" %>
          <% if current_user&.admin? %>
            <%= link_to "Edit Event", edit_event_path(race_event), class: "btn btn-dark" %> 
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>