<div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">
  <div class="xl:w-2/5 w-full xl:text-left text-center xl:pr-16">
    <% if @championship.present? %>
      <p class="text-indigo-600 text-2xl mb-6 lg:mt-0 mt-2 dark:text-indigo-500"><%= @event.championship.name %></p>
    <% else %>
      <p class="text-indigo-600 font-medium mb-6 lg:mt-0 mt-2 dark:text-indigo-500">Something Here</p>
    <% end %>
    <h1 class="sm:text-6xl text-4xl font-extrabold"><%= @event.title %></h1>
    <p class="my-6 text-slate-700 dark:text-slate-400 text-lg"><%= @event.description %></p>
    <div class="xl:flex grid grid-cols-1 gap-4">
      <% if @championship.present? %>
        <%= link_to "View Championship", championship_path(@event.championship), class: "btn btn-primary btn-lg" %>
      <% end %>
      <% if @event.track.present? %>
        <%= link_to "View Track Info", track_path(@event.track), class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class="xl:w-3/5 w-full xl:my-0 mt-6 mb-10">
  <% if @event.image.attached? %>
    <div class="flex justify-center relative">
      <%= image_tag @event.image, alt: "Events", class: "max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-500/20" %>
    </div>
  <% else %>
    <div class="flex justify-center relative">
      <%= image_tag "JHPhoto-3090.jpg", alt: "Events", class: "max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-50020"%>
    </div>
  <% end %>
    <div class="container mx-auto py-8">
      <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg p-6">
        <h1 class="text-3xl font-semibold text-indigo-600 mb-4"><% if @championship.present? %><%= @event.championship.name %> - <% end %><%= @event.title %></h1>
        
        <div class="text-gray-600 mb-1">
          <p class="mb-2"><strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y") %></p>
          <p><strong>Price:</strong> <%= number_to_currency(@event.price) %></p>
        </div>
        <div class="mb-8">
          <h2 class="text-xl font-semibold text-indigo-600 mb-2">Description</h2>
          <p class="text-gray-700"><%= @event.description %></p>
        </div>
        <div class="mb-8">
          <h2 class="text-xl font-semibold text-indigo-600 mb-2">Track</h2>
          <% if @event.track.present? %>
            <p class="text-gray-700"><%= @event.track.name %></p>
          <% end %>
        </div>
        <div class="mb-8">
          <h2 class="text-xl font-semibold text-indigo-600 mb-2">Track Record</h2>
            <p class="text-gray-700">Track record information not available for this event.</p>
        </div>

        <% if @event.event_type == "Test" %>
            <%= link_to "Back to Test Days", test_events_path, class: "btn btn-primary" %>
        <% else %>
            <%= link_to "Back to Race Days", race_events_path, class: "btn btn-primary" %>
        <% end %>
        
        <%= link_to "Back to All Events", events_path, class: "btn btn-primary" %>
        <% if current_user&.admin? %>
          <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-dark" %> 
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @championship.present? %>
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-semibold mb-4">Other events in <%= @championship.name %></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @events.select { |event| event.championship == @championship }.each do |event| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <% if event.image.attached? %>
          <%= image_tag event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag "DSC_4486.JPG", alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
          <div class="p-4">
            <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= event.title %> <% if @championship.present? %>- <%= event.championship.name %><% end %></h2>
            <p class="text-gray-600 mb-2"><%= event.track.name %></p>
            <p class="text-gray-600 mb-2"><%= event.date.strftime('%B %d, %Y') %></p>
            <p class="text-gray-800"><%= event.description.truncate(150, omission: '...') %></p>
          </div>
          <div class="bg-gray-100 p-4">
            <%= link_to "View Event", event_path(event), class: "text-white-500 hover:underline btn btn-primary" %>
            <% if current_user&.admin? %>
              <%= link_to "Edit Event", edit_event_path(event), class: "btn btn-dark" %> 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-semibold mb-4">Other Test Days at <%= @event.track.name %></h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @events.select { |event| event.track == @event.track }.each do |event| %>
          <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <% if event.image.attached? %>
            <%= image_tag event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
          <% else %>
            <%= image_tag "DSC_4486.JPG", alt: "Events", class: "w-full h-36 object-cover object-center" %>
          <% end %>
            <div class="p-4">
              <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= event.title %> <% if @championship.present? %>- <%= event.championship.name %><% end %></h2>
              <p class="text-gray-600 mb-2"><%= event.track.name %></p>
              <p class="text-gray-600 mb-2"><%= event.date.strftime('%B %d, %Y') %></p>
              <p class="text-gray-800"><%= event.description.truncate(150, omission: '...') %></p>
            </div>
            <div class="bg-gray-100 p-4">
              <%= link_to "View Event", event_path(event), class: "text-white-500 hover:underline btn btn-primary" %>
              <% if current_user&.admin? %>
                <%= link_to "Edit Event", edit_event_path(event), class: "btn btn-dark" %> 
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>