<div class="container mx-auto sm:py-4 pb-5 px-4 relative z-10 flex flex-wrap items-center justify-between">
  <div class="xl:w-2/5 w-full xl:text-left text-center xl:pr-16">
    <% if @championship.present? %>
      <p class="text-indigo-600 text-2xl mb-6 lg:mt-0 mt-2 dark:text-indigo-500"><%= @event.championship.name %></p>
    <% else %>
      <p class="text-indigo-600 font-medium mb-6 lg:mt-0 mt-2 dark:text-indigo-500">Championship</p>
    <% end %>
    <h1 class="sm:text-5xl text-4xl font-extrabold"><%= @event.title %> - <%= @event.track.name %></h1>
    <p class="my-6 text-slate-700 dark:text-slate-400 text-lg"><%= @event.description %></p>
  </div>
  <div class="xl:w-3/5 w-full xl:my-0 mt-6 mb-10">
  <% if @event.image.attached? %>
    <div class="flex justify-center relative">
      <%= image_tag @event.image, alt: "Events", class: "max-w-md object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-500/20" %>
    </div>
  <% else %>
    <div class="flex justify-center relative">
      <%= image_tag "JHPhoto-3117.jpg", alt: "Events", class: "max-w-md object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-50020"%>
    </div>
  <% end %>

    <div class="container mx-auto py-8 max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 p-6">
        <h4 class="text-indigo-600 text-lg mb-1 lg:mt-0 mt-2 dark:text-indigo-500 text-center"><%= @event.event_type %></h4>
          <h1 class="md:text-3xl text-lg font-semibold text-white mb-2 text-center"><%= @event.championship&.name %> - <%= @event.title %></h1>
          <p class="mb-10 text-center"><strong>Date - </strong> <%= @event.start_date.strftime('%d/%m/%Y') %> - <%= @event.end_date.strftime('%d/%m/%Y')     %> </p>
        <div class="flex justify-center relative mb-10">
          <% if current_user %> 
              <% button_text = @followable.is_a?(Event) ? ['Add to my Tracks', 'Remove from my Tracks'] : ['Add to My Calendar', 'Remove from My Calendar'] %>
              <%= turbo_frame_tag dom_id(@event, "follow_#{dom_class(@event)}"), class: "" do %>
                <% if current_user.following?(@event) %>
                  <%= link_to button_text[1], follow_path(id: current_user.follows.find_by(followable: @event).id), method: :delete, class: "btn btn-red", data: { turbo_method: :delete } %>
                <% else %>
                  <%= link_to button_text[0], follows_path(followable_type: @event.class.name, followable_id: @event.id), method: :post, class: "btn btn-primary", data: { turbo_method: :post } %>
                <% end %>
              <% end %>
            <% end %>
        </div>

        <div class="mb-8">
            <% if @event.track.main_image.attached? %>
              <div class="bg-cover bg-center my-4 rounded" style="background-image: url('<%= url_for(@event.track.main_image) %>')">
                <div class="bg-[hsla(0,0%,0%,0.6)]">
            <% else %>
              <div class="bg-cover bg-center my-4 rounded" style="background-image: url('<%= asset_url('placeholder.jpg') %>')">
                <div class="bg-[hsla(0,0%,0%,0.6)]">
            <% end %>
                  <div class="px-10 py-10" mb-4"">
                    <h2 class=" text-4xl font-bold mb-2"><%= @event.track.name %>, <%= @event.track.location %></h2>
                    <%= link_to "View Track", @event.track, class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>

        <div class="mb-8 mt-4">
          <h2 class="text-xl font-semibold text-white mb-2">Entry Fee</h2>
          <p class="text-gray-300">£<%= @event.price.to_i %></p>
        </div>      
        <div class="mb-8 mt-4">
          <h2 class="text-xl font-semibold text-white mb-2">Classes</h2>
          <div class="flex flex-wrap gap-2">
            <% @event.categories.each do |category| %>
              <span class="bg-indigo-600 text-white px-3 py-1 rounded-full text-sm font-medium">
                <%= category.name %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="mb-8 mt-4">
          <h2 class="text-xl font-semibold text-white mb-2">Weather Forecast</h2>
          <p class="text-gray-300">Weather here</p>
        </div>

        <div class="mb-8 mt-4">
          <h2 class="text-xl font-semibold text-white mb-2">Local Fuel Stations</h2>
          <p class="text-gray-300">Fuel Station 1</p>
          <p class="text-gray-300">Fuel Station 2</p>
          <p class="text-gray-300">Fuel Station 3</p>
        </div>

        <div class="mb-8 mt-4">
          <h2 class="text-xl font-semibold text-white mb-2">Accommadation Nearby</h2>
          <p class="text-gray-300">Hotel 1</p>
          <p class="text-gray-300">Hotel 2</p>
          <p class="text-gray-300">Hotel 3</p>
        </div>

        <div class="">
          <% if @championship.present? %>
            <%= link_to "View Championship", championship_path(@event.championship), class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="mb-8 mt-4">
            <% if current_user&.admin? %>
              <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-dark" %> 
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="map">
  <div class="relative w-full h-96 mb-10">
      <iframe class="absolute top-0 left-0 w-full h-full"
          src="<%= @event.track.static_map_url %>"
          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
      </iframe>
  </div>
</section>

<% if @championship.present? %>
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-semibold mb-4">Other events in <%= @championship.name %></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @events.select { |event| event.championship == @championship }.each do |event| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <% if event.image.attached? %>
          <%= image_tag event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% else %>
          <%= image_tag "DSC_4486.JPG", alt: "Events", class: "w-full h-36 object-cover object-center" %>
        <% end %>
          <div class="p-4">
            <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= event.title %> <% if @championship.present? %>- <%= event.championship.name %><% end %></h2>
            <p class="text-gray-600 mb-2"><%= event.track.name %></p>
            <p class="text-gray-600 mb-2"><%= event.start_date.strftime('%B %d, %Y') %></p>
            <p class="text-gray-800"><%= event.description.truncate(150, omission: '...') %></p>
          </div>
          <div class="bg-gray-100 p-4">
            <%= link_to "View Event", event_path(event), class: "text-white-500 hover:underline btn btn-primary" %>
            <% if current_user&.admin? %>
              <%= link_to "Edit Event", edit_event_path(event), class: "btn btn-dark" %> 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-semibold mb-4">Other Events at <%= @event.track.name %></h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @events.select { |event| event.track == @event.track }.each do |event| %>
          <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <% if event.image.attached? %>
            <%= image_tag event.image, alt: "Events", class: "w-full h-36 object-cover object-center" %>
          <% else %>
            <%= image_tag "DSC_4486.JPG", alt: "Events", class: "w-full h-36 object-cover object-center" %>
          <% end %>
            <div class="p-4">
              <h2 class="text-gray-800 text-xl font-semibold mb-2"><%= event.title %> <% if @championship.present? %>- <%= event.championship.name %><% end %></h2>
              <p class="text-gray-600 mb-2"><%= event.track.name %></p>
              <p class="text-gray-600 mb-2"><%= event.start_date.strftime('%B %d, %Y') %></p>
              <p class="text-gray-800"><%= event.description.truncate(150, omission: '...') %></p>
            </div>
            <div class="bg-gray-100 p-4">
              <%= link_to "View Event", event_path(event), class: "text-white-500 hover:underline btn btn-primary" %>
              <% if current_user&.admin? %>
                <%= link_to "Edit Event", edit_event_path(event), class: "btn btn-dark" %> 
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>