<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-bold sm:text-4xl">
        Our Journey Begins with a Parent's Vision
      </h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="">
        <%= image_tag "jhphoto-3107.webp", alt: "about photo", class: "relative overflow-hidden lg:h-full" %>
      </div>

      <div class="lg:py-16">
        <article class="space-y-4 text-gray-300">
          <p>
            KartStream was born from a personal quest to simplify the karting experience. As a parent of a kart driver, I encountered the frustrating lack of a centralized source for track details, test day dates, and championship information. This led to the creation of KartStream, an all-encompassing platform designed to address these challenges and streamline the karting journey for everyone involved.
          </p>
          <p>
            Empowering the Karting Community with Unmatched Features
            At the heart of KartStream is our commitment to provide comprehensive, up-to-date information accessible 24/7. Our key feature – the all-inclusive calendar – aggregates data from various tracks and championships, offering the first-of-its-kind, unified information repository.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header class="">
      <h2 class="text-3xl font-bold sm:text-4xl text-center">
        Our Vision and Goals for the Karting Community
      </h2>

      <p class="mx-auto mt-4 text-gray-300 text-left">
      <h4 class="text-white font-extrabold text-xl mt-10">Serving a Diverse Audience</h4>
        Our target audience encompasses karting parents, drivers, mechanics, team owners, and event organizers. While initially crafted with the end user in mind, we're actively inviting event organizers and track owners to contribute and manage their listings, fostering a collaborative and comprehensive karting ecosystem.


      <h4 class="text-white font-extrabold text-xl mt-10">Core Values and Mission</h4>
        Our mission is clear: to provide the karting community with the digital tools needed for a seamless experience. Our core values revolve around ensuring up-to-date and accessible information, reducing administrative burdens, and enhancing the overall karting journey.

      <h4 class="text-white font-extrabold text-xl mt-10">Vision for the Future</h4>
        Looking ahead, KartStream is set to expand its offerings with two imminent digital products designed for the karting industry. These will integrate seamlessly with KartStream, enhancing user experience and utility. We also aim to collaborate with other digital product providers, broadening our platform's capabilities and reach.

      <h4 class="text-white font-extrabold text-xl mt-10">Engaging with Our Users</h4>
        Community engagement is a cornerstone of KartStream. Users can contribute by submitting corrections, requesting features, and providing feedback. We plan to empower track owners and event organizers with control over their listings and dedicated admin areas, promoting a more interactive and user-driven platform.
      <h4 class="text-white font-extrabold text-xl mt-10">Innovative Technologies at Our Core</h4>
        Utilizing weather APIs for real-time updates and Map APIs for accurate local information, we're laying the groundwork for incorporating AI and other advanced technologies. These innovations will not only enhance KartStream's functionality but also ensure it remains at the forefront of digital karting solutions.

      <h4 class="text-white font-extrabold text-xl mt-10">Join Us on This Exciting Journey</h4>
        At KartStream, we're more than just a platform – we're a community-driven solution, constantly evolving to meet the needs of the karting world. Join us as we continue to innovate and redefine what it means to be a part of the karting community.
      </p>
    </header>

    <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
     <li>
        <%= link_to events_path, class: "relative block group" do %>
          <%= image_tag "JHPhoto-3106.webp", alt: "about photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" %>
          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <h3 class="text-xl font-medium text-white"></h3>
            <span class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
              Race Days
            </span>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to events_path, class: "relative block group" do %>
          <%= image_tag "jhphoto-3111.webp", alt: "about photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" %>
          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <span class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
              Test Days
            </span>
          </div>
        <% end %>
      </li>

      <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
        <%= link_to championships_path, class: "relative block group" do %>
          <%= image_tag "jhphoto-3119-65cab328a4f87.webp", alt: "about photo", class: "object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" %>
          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <span class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
              Championships
            </span>
          </div>
        <% end %>
      </li>

    </ul>
  </div>
</section>