<% content_for :header do %>
<header class="bg-cover bg-center relative bg-no-repeat" style="background-image: url(<%= asset_url("fusion.webp") %>);" data-controller="nav">
  <div class="dark:bg-slate-900">
    <%= render "shared/nav_menu" %>
  </div>
  <div class="container mx-auto sm:py-24 pb-5 px-4 relative z-10 flex flex-wrap items-center justify-between">
    <div class="w-full text-left text-center xl:pr-16 xl:mb-8">
      <p class="text-indigo-600 font-medium lg:mt-0 mt-2 dark:text-indigo-500">A KartStream Product</p>
      <h1 class="sm:text-6xl text-4xl font-extrabold">KartStream</h1>
      <p class="my-3 text-slate-700 dark:text-slate-400 text-lg">Navigating Karting - Your UK Racing Calendar</p>
    </div>

    <div class="xl:w-3/5 w-full xl:text-left text-center xl:pr-16 mb-5">
      <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <svg class="absolute left-1 w-5 h-10 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
                </svg>
                Kart Track Directory
              </dt>

              <dd class="">Bringing you all the UK Kart Track information together in one place.</dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <svg class="absolute left-1 h-10 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M16.557,4.467h-1.64v-0.82c0-0.225-0.183-0.41-0.409-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H5.901v-0.82c0-0.225-0.185-0.41-0.41-0.41c-0.226,0-0.41,0.185-0.41,0.41v0.82H3.442c-0.904,0-1.64,0.735-1.64,1.639v9.017c0,0.904,0.736,1.64,1.64,1.64h13.114c0.904,0,1.64-0.735,1.64-1.64V6.106C18.196,5.203,17.461,4.467,16.557,4.467 M17.377,15.123c0,0.453-0.366,0.819-0.82,0.819H3.442c-0.453,0-0.82-0.366-0.82-0.819V8.976h14.754V15.123z M17.377,8.156H2.623V6.106c0-0.453,0.367-0.82,0.82-0.82h1.639v1.23c0,0.225,0.184,0.41,0.41,0.41c0.225,0,0.41-0.185,0.41-0.41v-1.23h8.196v1.23c0,0.225,0.185,0.41,0.41,0.41c0.227,0,0.409-0.185,0.409-0.41v-1.23h1.64c0.454,0,0.82,0.367,0.82,0.82V8.156z"></path>
                </svg>
                Test Day and Race Event Calendar
              </dt>
              <dd class="">View all the 2024 Events from Clubs and Championships.</dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <svg class="absolute left-1 h-10 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                  <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                </svg>
                Digital Engine Logbook
              </dt>
              <dd class="">Store your Engine rebuild records and dyno sheets digitally for easy reference later.</dd>
            </div>
          </dl>
    </div>
    <div class="xl:w-2/5 w-full xl:my-0 mt-6 mb-10">
      <div class="justify-center relative">
        <%= image_tag "hero-image1.webp", alt: "Homepage Image of Kart", class: "max-w-full xl:max-w-l 2xl:max-w-xl object-cover rounded-3xl relative z-9 shadow-2xl shadow-slate-500/20" %>
        <div
          class="w-[650px] h-[650px] bg-indigo-500/10 absolute -bottom-10 left-5 rounded-full z-0 blur-2xl sm:block hidden">
        </div>
        <div
          class="w-[450px] h-[450px] bg-pink-500/10 absolute -top-10 left-5 rounded-full z-0 blur-2xl sm:block hidden">
        </div>
      </div>
    </div>
  </div>
</header>
<% end %>

<div class="container mx-auto sm:px-16 sm:px-16 px-4 lg:py-24 pb-16 pt-0">
  <div class="flex flex-wrap items-center justify-between">
    <div class="lg:w-1/2 w-full">
      <span class="block w-20 bg-slate-300 dark:bg-slate-700 h-px"></span>
      <p class="text-indigo-300 uppercase tracking-wider text-sm font-medium dark:text-indigo-500 pt-10">Built for the User</p>
      <h2 class="font-extrabold lg:text-4xl text-3xl">How can this help me?</h2>
      <div class="max-w-lg mt-6 prose prose-indigo dark:prose-invert">
        <h3 class="text-white font-extrabold text-lg my-2">All the information in one place</h3>
        <p>
          If your new to Karting you can explore all the UK Tracks, browse the basic information and check out the next events inc Test Days and Race Days. You'll also be able to see what Championships are running and when.
        </p>
        <h3 class="text-white font-extrabold text-lg my-2">Organise your Season</h3>
        <p>
          If you're already part of the Karting community you can stop browing through different websites to find out about Test Days and Race Weekends, Kartstream aims to be up to date and offer all the relevant information in one place. You can also follow your favourite tracks, championships and add events to your own calendar and view your schedule on your User Dashboard.
        </p>
        <h3 class="text-white font-extrabold text-lg my-2">Free to try</h3>
        <p>
          For now, Signing up for an account is free and will give you access to all the features KartStream has to offer. You can also help us by submitting any data corrections you may notice are incorrect.
        </p>
        <h3 class="text-white font-extrabold text-lg my-2">...and a Bonus feature</h3>
        <p>
          We know how easy it is to misplace paperwork so we are also working on a digital engine logbook which will allow you to store your engine rebuild records and dyno sheets digitally for easy reference later and to easily show to potential buyers.
        </p>
        <div class= "grid grid-cols-1 gap-4">
          <div class="p-4 space-x-4 flex justify-center">
            <%= link_to events_path, class: "btn btn-primary font-medium text-white dark:text-white flex items-center group mb-5" do %>
              View Events Calendar
            <% end %>
            <% unless user_signed_in? %>
              <%= link_to "Sign Up for an Account", new_user_registration_path, class: "btn btn-primary font-medium text-white dark:text-white flex items-center group mb-5" %>
            <% end %> 
          </div>   
        </div>
        
      </div>
    </div>
    <div class="lg:w-1/2 w-full flex items-center justify-center">
      <%= image_tag "homeprocess.webp", alt: "Process description", class: "lg:max-w-lg max-w-full relative z-50 rounded" %>
    </div>
  </div>
</div>

<div class="bg-gradient-to-br from-slate-800 to-slate-900 lg:py-20 py-16">
  <div class="container mx-auto sm:px-16 px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-24 gap-12">
      <div>
        <p class="text-indigo-300 uppercase tracking-wider text-sm font-medium dark:text-indigo-500 pt-10">About Us</p>
        <h3 class="font-extrabold lg:text-4xl text-3xl">Digitally supporting Motorsport</h3>
        <p class="my-6 text-slate-700 text-lg leading-relaxed dark:text-slate-300">At the heart of KartStream a one man team; a karting parent and a software developer.</p>
        <div class="prose prose-indigo dark:prose-invert">
          <p>
           This app was born out of the need to have all the information in one place, as a parent of a young driver I found it difficult to keep track of all the events and test days and found myself browsing through different websites to find out about events and track information. I also see plenty of social media posts asking about track info and test day dates.
          </p>
          <p>
           The whole app has been built from the ground up a single person alongside weekend Karting and a full time job so it's been a long process but I'm excited to finally be able to share it with the Karting Community.
          </p>
          <p>
            If your a Track or championship owner and feel you want more control over you page or I have not included you and would like to have your information added to the app please get in touch.
          </p>
          <p class="my-6 text-slate-700 leading-relaxed dark:text-slate-300 font-semibold">The app is a work in progress and constantly being worked on, if you see something incorrect or missing feel free to submit a correction request. You should a convinient button at the bottom of each page.</p>
        </div>
      </div>
      <div class="mx-auto pt-10">
        <div class="bg-indigo-600 text-white lg:rounded-xl shadow-lg mx-auto">
          <%= image_tag random_default_image, alt: "Enabling collaboration", class: "lg:rounded-t-lg" %>
          <blockquote class="relative text-white text-xl leading-relaxed lg:p-10 p-8">
            <svg class="w-6 h-6 fill-current text-white opacity-20 flex-shrink-0" height="22" viewBox="0 0 28 22"
              width="28" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m12.5312 16.9375c0 1.3333-.5416 2.5-1.625 3.5-1.06245 1-2.32287 1.5-3.7812 1.5-2.29167 0-4.05208-.7604-5.28125-2.2813-1.229167-1.5208-1.84375-3.625-1.84375-6.3124 0-2.5 1.05208-5.02088 3.15625-7.56255 2.125-2.54167 4.67708-4.46875 7.65625-5.78125l1.375 2.21875c-2.35417 1.14583-4.19792 2.47917-5.53125 4s-2.10417 3.36458-2.3125 5.53125h1.75c1.29167 0 2.34375.1458 3.15625.4375s1.4688.6979 1.9688 1.2187c.4791.5.8124 1.0521 1 1.6563.2083.6042.3124 1.2292.3124 1.875zm15.4063 0c0 1.3333-.5417 2.5-1.625 3.5-1.0625 1-2.3229 1.5-3.7813 1.5-2.2916 0-4.052-.7604-5.2812-2.2813-1.2292-1.5208-1.8438-3.625-1.8438-6.3124 0-2.5 1.0521-5.02088 3.1563-7.56255 2.125-2.54167 4.6771-4.46875 7.6563-5.78125l1.375 2.21875c-2.3542 1.14583-4.198 2.47917-5.5313 4s-2.1042 3.36458-2.3125 5.53125h1.75c1.2917 0 2.3438.1458 3.1562.4375.8126.2917 1.4688.6979 1.9688 1.2187.4792.5.8125 1.0521 1 1.6563.2083.6042.3125 1.2292.3125 1.875z">
              </path>
            </svg>
            I have a few ideas for feature additions and improvements and I'm always open to feature suggestions from the community if you feel something would make your life easier.
            <cite class="font-semibold text-base block mt-4">&mdash; Lead Developer</cite>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-16">
      <div>
        <p class="text-slate-600 dark:text-slate-400">Founded</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl">2024</h4>
      </div>
      <div>
        <p class="text-slate-600 dark:text-slate-400">Tracks</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl"><%= @tracks.count %></h4>
      </div>
      <div>
        <p class="text-slate-600 dark:text-slate-400">Events</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl"><%= @events.count %></h4>
      </div>
      <div>
        <p class="text-slate-600 dark:text-slate-400">Championships</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl"><%= @championships.count %></h4>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto sm:px-16 px-4 lg:py-15 pb-16 pt-16">
  <p class="text-indigo-300 uppercase tracking-wider text-sm font-medium dark:text-indigo-500 pt-10">Get Started</p>
  <h3 class="font-extrabold lg:text-4xl text-3xl mb-10">Take a look around...</h3>
  <div class="flex flex-col sm:flex-row items-center space-x-0 sm:space-x-4 space-y-4 sm:space-y-0">
    <div class="lg:w-1/3 w-full">
      <div class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
      <%= link_to tracks_path do %>
        <%= image_tag "jhphoto-3114-65cab31d815ad.webp", alt: "Homepage Image of Kart", class: "h-56 w-full object-cover" %>
        <div class="bg-gradient-to-br from-slate-800 to-slate-900 p-4 sm:p-6">
            <h3 class="mt-0.5 text-2xl font-bold text-white">Tracks</h3>
        </div>
      <% end %>
      </div>
    </div>
    <div class="lg:w-1/3 w-full">
      <div class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
        <%= link_to championships_path do %> 
        <%= image_tag "jhphoto-3119-65cab328a4f87.webp", alt: "Homepage Image of Kart", class: "h-56 w-full object-cover" %>
          <div class="bg-gradient-to-br from-slate-800 to-slate-900 p-4 sm:p-6">
              <h3 class="mt-0.5 text-2xl font-bold text-white">Championships</h3>
            
          </div>
        <% end %>
      </div>
    </div>    
    <div class="lg:w-1/3 w-full">
      <div class="overflow-hidden rounded-lg shadow transition hover:shadow-lg">
      <%= link_to events_path do %>
        <%= image_tag "jhphoto-3113-65cab32e1987c.webp", alt: "Homepage Image of Kart", class: "h-56 w-full object-cover" %>
        <div class="bg-gradient-to-br from-slate-800 to-slate-900 p-4 sm:p-6">
            <h3 class="mt-0.5 text-2xl font-bold text-white">Events</h3>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
