<%= turbo_frame_tag :calendar do %>
<% start_date = anchor_date.beginning_of_month.beginning_of_week(:monday) %>
<% end_date = anchor_date.end_of_month.end_of_week(:monday) %>
<% range = start_date..end_date %>
<div data-controller="calendar calendar-populate"
    data-calendar-populate-start-date-value=<%=start_date%>
    data-calendar-populate-end-date-value=<%=end_date%>>
<div class="container mx-auto px-4 lg:my-16 my-8">
  <div class="md:gap-x-16 md:gap-y-4 lg:gap-y-8 gap-6 grid md:grid-cols-12 grid-cols-1">
    <div class="md:pr-0 lg:pr-10 lg:col-span-6 md:col-span-12 col-span-1 lg:order-1 md:order-2 order-2">
        <div class="md:pr-0 lg:pr-10 lg:col-span-6 md:col-span-12 col-span-1 lg:order-1 md:order-2 order-2">
        <h1 class=" text-center text-3xl font-bold text-white">Events</h1>
        <%= turbo_frame_tag :events %>
        </div>
    </div>
    <div class="lg:mt-8 mt-0 text-center md:col-span-12 lg:col-span-6 col-span-1 lg:order-1 md:order-1 order-1">
      <div class="rounded-lg bg-slate-300/60 text-sm shadow-sm ring-1 ring-slate-300 dark:ring-slate-600">
        <div
          class="flex items-center justify-between bg-white dark:bg-slate-800 dark:text-slate-100 rounded-t-lg py-4 px-6">
          <div class="text-2xl font-bold text-slate-900 dark:text-slate-100 text-left"><%= anchor_date.strftime("%B %Y") %>   <span class="font-normal pl-1"></span>
          </div>
          <div class="flex items-center text-slate-900">
            <%= link_to calendars_path(date: anchor_date - 1.month), class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-slate-400 hover:text-indigo-600 dark:hover:text-indigo-300" do %>
              <span class="sr-only">Previous month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                  clip-rule="evenodd" />
              </svg>
            <% end %>
            <span class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-slate-400 px-3 hover:text-indigo-600 text-xs dark:hover:text-indigo-300">Month</span>
            <%= link_to calendars_path(date: anchor_date + 1.month), class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-slate-400 hover:text-indigo-600 dark:hover:text-indigo-300" do %>
              <span class="sr-only">Next month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd" />
              </svg>
            <% end %>
          </div>
        </div>
        <div class="grid grid-cols-7 text-sm leading-6 text-slate-500 bg-white dark:bg-slate-800 dark:text-slate-100  dark:border-slate-200 border-b">
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">M</span></div>
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">T</span></div>
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">W</span></div>
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">T</span></div>
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">F</span></div>
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">S</span></div>
          <div class="py-1.5"><span class="mx-auto flex items-center w-8 sm:h-14 h-8 justify-center">S</span></div>
        </div>
        <div class="isolate grid grid-cols-7 gap-px rounded-lg bg-gray-500 text-sm shadow ring-1 ring-gray-200">
          <%= render "calendars/days", anchor_date: anchor_date, range: range %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>