<div class="simple-calendar">
  <div class="calendar-heading flex justify-between items-center p-4 bg-gray-100">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title text-xl font-semibold">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </time>

    <nav class="flex">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 mx-2" %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
    </nav>
  </div>

  <table class="table-auto w-full mt-4">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="px-4 py-2 bg-blue-500 text-white">
            <%= t('date.abbr_day_names')[day.wday] %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "px-4 py-2 border border-gray-200 text-center #{'bg-blue-100' if day == Date.today}" do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
