<div class="simple-calendar mx-auto max-w-4xl">
  <div class="calendar-heading flex justify-between items-center p-6 bg-white rounded-t-lg text-slate-600 shadow">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title text-2xl font-bold">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </time>

    <nav class="flex gap-4">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "px-4 py-2 bg-primary-700 text-white rounded-md hover:bg-primary-800 transition-colors duration-200" %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "px-4 py-2 bg-primary-700 text-white rounded-md hover:bg-primary-800 transition-colors duration-200" %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "px-4 py-2 bg-primary-700 text-white rounded-md hover:bg-primary-800 transition-colors duration-200" %>
    </nav>
  </div>

  <table class="w-full mt-4 bg-white rounded-b-lg shadow overflow-hidden">
    <thead class="bg-slate-800 text-white">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="px-4 py-3">
            <%= t('date.abbr_day_names')[day.wday] %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "relative px-7 py-10 text-left text-slate-800 border-b border-slate-200 #{'bg-indigo-100' if day == Date.today} hover:bg-indigo-100 cursor-pointer transition-colors duration-200" do %>
              <div class="absolute top-0 left-0 p-2">
                <%= day.day %>
              </div>
              <div class="flex h-full items-center justify-center">
                <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
              </div>
            <% end %>
          <% end %>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>
