<li >
  <%= nav_link_to "Dashboard", send("dashboard_index_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "My Events", send("dashboard_index_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Engines", send("dashboard_index_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Chassis", send("dashboard_index_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Calendar", send("dashboard_index_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "People", send("dashboard_index_path"), class: "nav-link" %>
</li>
<li >
  <%= nav_link_to "Activity", send("dashboard_index_path"), class: "nav-link" %>
</li>
