<!DOCTYPE html>
<html>
  <head>
    <title>KartStream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="KartStream" />
    <meta property="og:description" content="The Complete Source for UK Karting Tracks and Dates" />
    <meta property="og:url" content="https://www.kartstream.co.uk" />
    <meta property="og:image" content="https://www.kartstream.co.uk/assets/kartstreamnewsimage1.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "https://unpkg.com/trix@2.0.0/dist/trix.css", "data-turbo-track": "reload" %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap", defer: true %>
    
    <%= render "shared/fonts" %>
    <%= render "shared/meta" %>
    <%= yield :head %>
  </head>
  <body class="rui">
    <%= render "shared/flash" %>
    <% if content_for(:header).present? %>
      <%= yield :header %>
    <% else %>
      <%= render "shared/nav" %>
    <% end %>
    <%= yield %>
  <%= railsui_launcher if Rails.env.development? %>
  <%= render "shared/footer" %>
</body>
</html>
